<footer>
    <section class="top_foot">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-7">
                    <div class="foot_logo">
                        <a href="index.html"><img class="img-fluid" src="./assets/images/footer_logo.png" alt=""></a>
                    </div>
                    <address class="footer_add">
                        Nurney, Co.Kildare<br>
                        045 526 738<br>
                        <a href="mailto:info@ascuteasabutton.ie">info@ascuteasabutton.ie</a>
                    </address>
                </div>
                <div class="col-lg-2 col-sm-5">
                    <div class="foot_nav" data-delighter="">
                        <h2>Shop</h2>
                        <ul class="list-unstyled">
                            <li><a href="/products"> Products</a></li>
                            <li><a href="/collection"> Shipping & Collection</a></li>
                            <li><a href="/cms"> Your Cart</a></li>
                            <li><a href="/cms">Checkout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="foot_nav" data-delighter="">
                        <h2>Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/reviews">Reviews</a></li>
                            <li><a href="/cms">Account</a></li>
                            <li><a href="/contact-us">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="foot_nav" data-delighter="">
                        <h2>Help</h2>
                        <ul class="list-unstyled">
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms & conditions</a></li>
                            <li><a href="/cms">Returns & Exchange</a></li>
                            <li><a href="/faqs">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <div class="foot_nav">
                        <h2>Newsletter</h2>
                        <form action="">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email address">
                            </div>
                            <input type="submit" class="btn btn-dark" value="submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="social_link">
                <h6>Follow Us on</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
            <div class="cwrite_sec">
                <p>Copyright © 2021 AsCuteAsAButton. All rights reserved.</p>
            </div>
        </div>
    </section>

    <div class="top_btn"> <a class="scrollToTop" href="javascript:void(0)" style="display: block;"> <span class="lnr lnr-chevron-up"></span> </a> </div>
</footer>