<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<section class="about_page">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="media_part">
                    <img src="./assets/images/colection_img.jpg" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="collection_cont">
                    <h2>The perfect gift to give and to receive</h2>
                    <p>Giving a gift from the heart means so much more to the recipient, knowing that you put so much thought and care into choosing a gift made especially for them…..it will bring a tear to their eye</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_cont">
    <div class="container">
        <div class="row" dir="rtl">
            <div class="col-lg-4" dir="ltr">
                <div class="box">
                    <img src="./assets/images/about_img3.png" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="col-lg-8" dir="ltr">
                <div class="caption">
                    <h4>Tell us a little bit about your business.</h4>
                    <p>My name is Siobhan Maguire and I am the owner of As Cute as a Button Frames Ltd. We make a range of Personalised Framed prints for all occasions. Each frame or plaque is hand crafted and embellished with a touch of class and colour and make a more personalised option to a regular photo frame.</p>

                    <h4>What is your background? How did your business originate and what led you to it?</h4>
                    <p>My background is in Product Development, Sales and Buying – 10296562_10152943972883677_3489745763514012644_n-small-51 both in Kildare Ireland and the UK. About 8 years ago I bought a photo frame for my niece Jasmine’s birthday with the intension of placing a photo inside. But instead I decided to print a little verse called “Monday’s Child” with her name and birth details above it, adding little colourful buttons and embellishments. I was showing it to my friends and family and they started to order one here and one there. Then I was asked if I could create personalised framed prints in the form of Wedding frames, Christening frames, Father’s Day frames etc., and really that’s where it all started.</p>
                </div>
            </div>
        </div>
        <div class="row" dir="ltr">
            <div class="col-lg-4" dir="ltr">
                <div class="box">
                    <img src="./assets/images/about_img2.png" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="col-lg-8" dir="ltr">
                <div class="caption">
                    <h4>How do you balance work and family when working from home?</h4>
                    <p>It was hard at first, I won’t pretend otherwise as I had a full time job at the time. At first I was working non-stop seven days a week. My mind was constantly working overtime on new ideas, buying new embellishments and trying new designs. I have now established my portfolio so it is consistent in terms of design so it allows me to be more efficient as our client base increases, mainly by word of mouth and through our website www.ascuteasabutton.ie. I no longer stay up until 1am in the morning finishing orders as I have a work pattern in place now. Of course there is always the last minute panic order so naturally I oblige – customer service to me is of the utmost importance and has earned us in excess of 700 five star reviews, both on Googe and Facebook that we are very proud of.</p>
                    <h4>Where do you draw your inspiration from?</h4>

                    <p>Online craft blogs, books, and most importantly our customers– we always listen to our customers. Many’s the time they have asked me to make something which I wouldn’t have thought of and I will give it a go. I love a creative challenge!</p>
                </div>
            </div>
        </div>
        <div class="row" dir="rtl">
            <div class="col-lg-4" dir="ltr">
                <div class="box">
                    <img src="./assets/images/about_img1.png" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="col-lg-8" dir="ltr">
                <div class="caption">
                    <h4>What’s your favourite part of the job?</h4>
                    <p>My favourite part is adding the final touches to the personalised framed prints and seeing my customers reaction to it – If they love it, I’m happy!</p>
                    <h4>What product or service that you offer are you most excited about?</h4>
                    <p>The Baby Clock personalised frame is our most popular product. Customers buy them as Christening gifts, New Born baby gifts and naming day gifts or just to decorate their own children’s bedrooms with as they are so tasteful and original looking…and not just for babies! The clock hands are set at the time of the baby’s birth and other baby details such as date of birth, weight and name of hospital can also be added. A perfect gift for any child!</p>
                    <p>Others have tried to copy our designs but they are missing something that makes our product that extra special….but I’m not going to tell you what that is…it’s our secret ingredient. We know it, our loyal customers know it which is why they keep coming back for more!</p>
                </div>
            </div>
        </div>
        <div class="row" dir="ltr">
            <div class="col-lg-4" dir="ltr">
                <div class="box">
                    <img src="./assets/images/about_img4.png" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="col-lg-8" dir="ltr">
                <div class="caption">
                    <h4>What makes your frames unique?</h4>
                    <p>I guess that would have to be the classy contemporary designs, tasteful use of colours, price and beautiful packaging that comes in a choice of colours with matching gift card, making it the perfect gift that’s ready to go!  There is always an occasion to buy for….Wedding Anniversary gifts, Engagement gifts, Father’s Day gifts, Memorial gifts, Leaving gifts, First day of school gifts…..the list is endless and all made in Kildare, Ireland!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>