<div class="accordion" id="accordionExample">
    <div class="filter_category">
        <div class="card-header p-0" id="headingOne">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Sort Products
            </button>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="accordion acord_sub" id="accordionExample2">
                <div class="filter_category">
                    <div class="card-header p-0" id="sub_heading1">
                        <button class="btn btn-link text-left collapsed" type="button" data-toggle="collapse" data-target="#sub_collapse1" aria-expanded="false" aria-controls="sub_collapse1">
                            By Price
                        </button>
                    </div>
                    <div id="sub_collapse1" class="collapse" aria-labelledby="sub_heading1" ta-parent="#accordionExample2">
                        <ul class="list-unstyled clearfix">
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck1">
                                    <label class="form-check-label" for="typeCheck1">Zombie Blood</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck2">
                                    <label class="form-check-label" for="typeCheck2">Juiceman</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck3">
                                    <label class="form-check-label" for="typeCheck3">Vape Simply</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck3">
                                    <label class="form-check-label" for="typeCheck3">Black Widow</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck3">
                                    <label class="form-check-label" for="typeCheck3">Retros</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck3">
                                    <label class="form-check-label" for="typeCheck3">Sugar Rush</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="filter_category">
                    <div class="card-header p-0" id="sub_heading2">
                        <button class="btn btn-link text-left collapsed" type="button" data-toggle="collapse" data-target="#sub_collapse2" aria-expanded="false" aria-controls="sub_collapse2">
                            By Popularity
                        </button>
                    </div>
                    <div id="sub_collapse2" class="collapse" aria-labelledby="sub_heading2" ta-parent="#accordionExample2">
                        <ul class="list-unstyled clearfix">
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck1">
                                    <label class="form-check-label" for="typeCheck1">Zombie Blood</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck2">
                                    <label class="form-check-label" for="typeCheck2">Juiceman</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck3">
                                    <label class="form-check-label" for="typeCheck3">Vape Simply</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck3">
                                    <label class="form-check-label" for="typeCheck3">Black Widow</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck3">
                                    <label class="form-check-label" for="typeCheck3">Retros</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="typeCheck3">
                                    <label class="form-check-label" for="typeCheck3">Sugar Rush</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter_category">
        <div class="card-header p-0" id="headingTwo">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Categories
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="catgry_list">
                <ul class="list-unstyled clearfix">
                    <li><a href="#"> Anniversary</a></li>
                    <li><a href="#">Baby</a></li>
                    <li><a href="#">Baby Loss and Rainbow Baby</a></li>
                    <li><a href="#">Baby Scan</a></li>
                    <li><a href="#">Birthday</a></li>
                    <li><a href="#">Childminder / Creche</a></li>
                    <li><a href="#">Christening</a></li>
                    <li><a href="#">Christmas</a></li>
                    <li><a href="#">Communion and Confirmation</a></li>
                    <li><a href="#">Engagement</a></li>
                    <li><a href="#">Family</a></li>
                    <li><a href="#">Frame With Photographs</a></li>
                    <li><a href="#">Friends</a></li>
                    <li><a href="#">Henparty</a></li>
                    <li><a href="#">Memorials</a></li>
                    <li><a href="#">New home</a></li>
                    <li><a href="#">Pets</a></li>
                    <li><a href="#">Retirement</a></li>
                    <li><a href="#">School Graduation</a></li>
                    <li><a href="#">Teachers</a></li>
                    <li><a href="#">Wedding</a></li>
                    <li><a href="#">New mum / New Grandparents</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- <ul class="list-unstyled">
    <ng-template #recursiveList let-fullMenu let-level="level">
      <li *ngFor="let item of fullMenu; let i = index">
        <button class="btn btn-primary" type="button" data-toggle="collapse" [attr.data-target]="'#foo' + i + level" aria-expanded="false" aria-controls="collapseExample">
          {{item.name}}
        </button> {{i}}
        <ul *ngIf="item.childs && item.childs.length > 0">
          <div class="collapse" [attr.id]="'foo' + i +level">
            <div class="card card-body">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childs, level: level + i + fullMenu.length }"></ng-container>
            </div>
          </div>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: fullMenu, level: 0 }"></ng-container>
</ul> -->