<app-header></app-header>

<section class="banner_CLI">
    <div class="card">
        <img src="./accets/images/cli_bg2.jpeg" alt="" class="card-img">
        <div class="card-img-overlay">
            <h2>Collections</h2>
        </div>
    </div>
</section>

<section class="occasion_sec">
    <div class="container">
        <div class="occasion_list">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img1.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Baby</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img2.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Birthday</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img3.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Christening</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img4.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Hen Party</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img5.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Memorial</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img6.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Family</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img1.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Communion / Confirmation</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img7.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Pets</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img8.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Retirement</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img9.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Teacher</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img10.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>School / Graduation</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img11.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Wedding</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img12.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>New Mum / New Grandparents</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img13.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>New Home</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img14.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Friends</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img15.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Childminder / Creche</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img16.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Frame with Photograph</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img17.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Christmas</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img18.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Baby loss & Rainbow Baby</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img19.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Baby Scan</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./accets/images/prod_img20.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Anniversary</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box right" data-delighter="start:0.5">
                    <div class="card-img"><img src="./accets/images/block_img1.jpg" alt="" class="w-100"></div>
                    <h2>Pebble art</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box left" data-delighter="start:0.5">
                    <div class="card-img"><img src="./accets/images/block_img2.jpg" alt="" class="w-100"></div>
                    <h2>Engraved wooden plaques</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial_sec">
    <div class="container">
        <div class="testimonial_head wow fadeInDown animated">
            <h2>What Our Clients Say</h2>
            <div class="star_rating"></div>
        </div>
    </div>
    <div class="testimone_list">
        <div class="owl-carousel owl-theme">
            <div class="item text-center">
                <div class="box">                    
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                    <h6>Orla O’Brien:</h6>
                </div>
            </div>
            <div class="item text-center">
                <div class="box">                    
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                    <h6>Orla O’Brien:</h6>
                </div>
            </div>
            <div class="item text-center">
                <div class="box">                    
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                    <h6>Orla O’Brien:</h6>
                </div>
            </div>
            <div class="item text-center">
                <div class="box">                    
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                    <h6>Orla O’Brien:</h6>
                </div>
            </div>
        </div>
    </div>        
</section>

<section class="instagram_sec">
    <div class="container">
        <div class="insta_head wow fadeInDown animated">
            <h2>Follow Us on Instagram</h2>
            <img src="./accets/images/insta_icon.png" alt="" class="img-fluid">
        </div>
        <div class="insta_list">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card wow pulse animated">
                        <img src="./accets/images/insta_img1.jpg" alt="" class="img-fluid">
                        <div class="hover_part">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card wow pulse animated">
                        <img src="./accets/images/insta_img2.jpg" alt="" class="img-fluid">
                        <div class="hover_part">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card wow pulse animated">
                        <img src="./accets/images/insta_img3.jpg" alt="" class="img-fluid">
                        <div class="hover_part">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card wow pulse animated">
                        <img src="./accets/images/insta_img4.jpg" alt="" class="img-fluid">
                        <div class="hover_part">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>