<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<section class="faq_cont">
    <div class="container">
        <h2 class="head_title wow bounceInLeft animated" data-wow-duration="3s">Privacy Policy</h2>
        <div class="privacy">
            <h6>Our Privacy Policy</h6>
            <p>As Cute as a Button Frames Ltd. is committed to respecting the privacy of customers and website visitors. This privacy policy explains how we collect, store and use personal data about you when you browse www.ascuteasabutton.ie (the “Website”), shop with us or otherwise provide your personal data to us.</p>
            <p>The terms of our privacy policy apply, regardless of where you live or how our Website is accessed by your device. The purpose of the policy is to inform and empower you with knowledge about the types of personal data that we collect, how we manage your personal data and the rights you have to control our use of your personal data.</p>

            <p>By accessing, browsing, connecting or shopping on this Website you confirm that you have read, understood and accept our privacy policy</p>
        </div>
        <div class="faq_list">
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Who we are
                      </button>
                    </h2>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>As Cute as a Button Frames Ltd. is a company registered in Ireland (CRO653374) with an address at 15 Cois Caislean, Nurney, Co. Kildare, Ireland.</p>
                        <p>As a small, customer focused business that provides a personalised service we respect your right to privacy and will only process personal data you provide to us in accordance with the Data Protection Acts 1988 -2018 and GDPR privacy laws.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Children who wish to use our service
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>We do not collect information from any unsupervised person under the age of 16. If you are under the age of 16, you must not use this Website or submit any personal data to us unless you have the consent of, and are supervised by, a parent or guardian.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Personal data we collect about you
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      <p>When you transact with our business, we may collect the following personal data about you:</p>
                      <ul>
                        <li> Your name or the name you provide us with for shipping address.</li>
                        <li> Your billing and shipping/ postal address or preferred recipients address & phone number and e-mail details</li>
                        <li>We may also collect some or all of the above personal data about you when you access and browse this Website including when you sign up to receive As Cute as a Button newsletters</li>
                        <li>If you email personal data content, like photos, know that we do not share your treasured memories  with any third parties nor do we store them after the product is made. Any copies of photos which you send to us to complete your order, are deleted once your order is processed.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Why we collect and store personal data
                        </button>
                      </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                      <div class="card-body">
                            <p>To provide you with tailored site content</p>
                            <ul>
                                <li>To pay for your goods</li>
                                <li>To process your order</li>
                                <li>To respond to any enquiry which you may submit to us about our product</li>
                                <li>To maintain an account that you hold with us</li>
                                <li>With consent we might make contact by SMS and or by e-mail to inform you about marketing and promotional offers and which might be of interest</li>
                                <li>To ensure your customer satisfaction with our product and services</li>
                                <li>To deliver our goods and sometimes to confirm the identity of a customer order</li>
                                <li>For any related purposes, or where we have a legal right or duty to use or disclose your information (including for crime and fraud prevention and related purposes)</li>
                            </ul>
                            <p class="mt-3">We never disclose, sell or share your personal data to any third party and would not do so without asking your permission. Though, we may disclose your personal data to comply with applicable law or an order of a governmental or law enforcement body if necessary.</p>
                            <h6>Processing Your Payment –</h6>
                            <p>We want to ensure that your financial payment processing method is reliable and secure. For this reason we use Realex or Paypal to process card payments and complete any purchase order that you make through this Website.</p>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Marketing
                        </button>
                      </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                      <div class="card-body">
                            <p>If you have agreed that we can contact you for marketing purposes we may send you emails and other communications relating to products and services which we hope interest you.</p>
                            <p>Our e-mail marketing communications are delivered by Mailchimp. We like you to be in control of whether you decide to stay in touch and you can unsubscribe by clicking on the unsubscribe link at the bottom of any e-mail Mailchimp newsletter which we send to you.</p>
                            <p>We sometimes use social media platforms  to stay in touch or to, show off a bit about what a good a job we can do for our customers. We also post or blog to remind everyone of special days they might want to celebrate, like Mother’s day. The social media channels we use are Twitter, Pintrest, Facebook and of course Instagram.</p>
                            <p>Our website uses cookies to process your cart order.</p>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            E-mail newsletter preferences and text messages
                        </button>
                      </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                      <div class="card-body">
                            <p>To unsubscribe from an email newsletter, please click the unsubscribe link at the bottom of any email newsletter you have received from As Cute as a Button Frames. If you once asked us to send you our email but want to stop us sending you messages at any time, email us at info@ascuteasabutton.ie and we will be happy to remove your details from our database.</p>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            All your rights are
                        </button>
                      </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                      <div class="card-body">
                           <ul>
                                <li>The right to ask what personal data we might store about you</li>
                                <li>The right to ask us to update or correct any out-of-date personal data that we might have on file</li>
                                <li>The right to ask us to erase your personal data</li>
                                <li>The right to request us to cease processing your personal data or transfer your data to somewhere else</li>
                           </ul>
                           <p class="mt-3">We think we now have all this privacy stuff covered but if you need us to explain any aspect of our commitment to your privacy rights , please contact us at info@ascuteasabutton.ie</p>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Updates to this policy
                        </button>
                      </h2>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                      <div class="card-body">
                           <p>Our privacy policy was last amended in May 2018. Please check this page regularly to find out about updates to the policy.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>