<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<section class="faq_cont">
    <div class="container">
        <h2 class="head_title wow bounceInLeft animated" data-wow-duration="3s">Reviews</h2>
        <div class="review_list">
            <div class="card">
                <div class="card-body">
                    <h6>Orla O’Brien:</h6>
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Sandra Mannion:</h6>
                    <p> Would like to Thank Siobhan for my three beautiful frames I received last week.. You were a pleasure to deal with and I loved my frames. Great service and very quick. Thanks again siobhan x</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Kim Moran:</h6>
                    <p>  Fantastic service. Siobhan so efficient and easy to do business with, very accommodating. I’ve used similar companies in the past and none compare. I highly recommend!!!</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Sharon Kelly:</h6>
                    <p> I received my frame today and it is absolutely beautiful. It is actually even nicer than I imaged it would be and I can’t wait to see the reaction of the person when I give them it as a present. Many thanks for your prompt service (I only ordered it a week ago) and it was made and delivered to me within the week. I will definitely be using As Cute as a Button in the future and would have no hesitation recommending to anyone. Many thanks again Siobhan.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Catherine, Wales:</h6>
                    <p> I received one of the baby clocks for my son from his aunt last month and was completely wowed by it. It is such a beautiful and unique gift showing all the details of his birth date. It’s a gorgeous gift to receive for a new baby and I would highly recommend this if you are looking for a perfect, one-off gift for someone. It has travelled home to Wales with us and will take pride of place on his nursery wall. Simply gorgeous! Thank you to his aunt for finding it.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Angelina, Co. Cork:</h6>
                    <p> I ordered 2 clock frames for twin girls and they are absolutely beautiful. The ordering process was so simple and Siobhan was a pleasure to deal with from start to finish. You have a wonderful talent. I can’t recommend this company highly enough. If you are looking for a really unique gift this is the place to look. Thanks again. I will definitely be ordering again in the future.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Olivia Lucey:</h6>
                    <p> Thanks so much for the beautiful frame I ordered for my niece. It was beautiful and delivery was super quick. Will definitely recommend you to others for such fab gifts and service</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Laura O’Sullivan Fenton:</h6>
                    <p> I highly recommend these Top class products, Iv gotten three frames so far as gifts and the quality is amazing. They are so reasonably priced for the wonderful finish. I’m definitely going to treat myself to 3 clock frames for my kids rooms. Siobhan is so prompt in her responses and she has no problem with changing her verses to what u want. 5stars all the way! My go to for baby/engagement gifts!!”</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6>Kim Moran, Co. Galway:</h6>
                    <p> Fantastic service. Siobhan so efficient and easy to do business with, very accommodating. I’ve used similar companies in the past and none compare. I highly recommend!!!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>