<app-header></app-header>

<section class="collection_sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="media_part">
                    <img src="./assets/images/colection_img.jpg" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="collection_cont">
                    <h2>The perfect gift to give and to receive</h2>
                    <p>Giving a gift from the heart means so much more to the recipient, knowing that you put so much thought and care into choosing a gift made especially for them…..it will bring a tear to their eye</p>
                    <a href="#" class="btn btn-dark">Explore Our Collections</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="occasion_sec">
    <div class="container">
        <h2 class="head_title">Shop For Occasion</h2>
        <div class="occasion_list">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./assets/images/prod_img1.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Baby</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./assets/images/prod_img2.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Birthday</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./assets/images/prod_img3.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Christening</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./assets/images/prod_img4.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Hen Party</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./assets/images/prod_img5.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Memorial</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="card wow pulse">
                        <div class="card-img"><img src="./assets/images/prod_img6.jpg" alt=""></div>
                        <div class="card-footer">
                            <h4>Family</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center form-group">
            <div class="col-lg-3 col-sm-4">
                <a href="#" class="btn btn-dark btn-block">Browse Categories</a>
            </div>
        </div>
    </div>
</section>

<section class="current_sec">
    <div class="container">
        <h2 class="head_title">Current Favourites</h2>
        <div class="current_list">
            <div class="row">
                <div class="col-xl-3 col-sm-6">
                    <div class="box">
                        <div class="card-img text-center"><img class="img-fluid" src="./assets/images/latest1.jpg" alt=""></div>
                        <h5>A selection of Engagement 
                            Frames</h5>
                        <div class="price">
                            <span class="price_org">€39.99</span>
                        </div>
                        <a href="#" class="btn btn-dark">Select</a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="box">
                        <div class="card-img text-center"><img class="img-fluid" src="./assets/images/latest2.jpg" alt=""></div>
                        <h5>Baby Boy “Clock”</h5>
                        <div class="price">
                            <span class="price_org">€40.99</span>
                        </div>
                        <a href="#" class="btn btn-dark">Select</a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="box">
                        <div class="card-img text-center"><img class="img-fluid" src="./assets/images/latest3.jpg" alt=""></div>
                        <h5>Baby Owl Girl or Twins</h5>
                        <div class="price">
                            <span class="price_org">€39.99</span>
                        </div>
                        <a href="#" class="btn btn-dark">Select</a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="box">
                        <div class="card-img text-center"><img class="img-fluid" src="./assets/images/latest4.jpg" alt=""></div>
                        <h5>Baby Scan</h5>
                        <div class="price">
                            <span class="price_org">€39.99</span>
                        </div>
                        <a href="#" class="btn btn-dark">Select</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center form-group">
            <div class="col-lg-3 col-sm-4">
                <a href="/products" class="btn btn-dark btn-block">See All Products</a>
            </div>
        </div>
    </div>
</section>

<section class="difePro_sec">
    <div class="container">
        <h2 class="head_title">What makes us different?</h2>
        <div class="difePro_list">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box">
                        <div class="card-img"><img src="./assets/images/img1.jpg" alt="" class="img-fluid"></div>
                        <p>All occassions catered for – Personalised Frames for New Born Baby, Birthdays, Weddings, Pets,</p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box">
                        <div class="card-img"><img src="./assets/images/img2.jpg" alt="" class="img-fluid"></div>
                        <p>All our frames come supplied in a complimentary beautiful gift box and card. For grown ups we have an elegant White and Gold gift box also with matching gift card.</p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box">
                        <div class="card-img"><img src="./assets/images/img3.jpg" alt="" class="img-fluid"></div>
                        <p>Each personalised frame is custom made so you can choose the theme you want.
                            Your frame – your style</p>
                        <a href="#" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box right" data-delighter="start:0.5">
                    <div class="card-img">
                        <!-- <img src="images/block_img1.jpg" alt="" class="w-100"> -->
                        <picture>
                            <source srcset="./assets/images/block_img1.jpg" type="image/svg+xml">
                            <img src="./assets/images/block_img1.jpg" class="img-fluid" alt="...">
                        </picture>
                    </div>
                    <h2>Pebble art</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box left" data-delighter="start:0.5">
                    <div class="card-img">
                        <!-- <img src="images/block_img2.jpg" alt="" class="w-100"> -->
                        <picture>
                            <source srcset="./assets/images/block_img2.jpg" type="image/svg+xml">
                            <img src="./assets/images/block_img2.jpg" class="img-fluid" alt="...">
                        </picture>
                    </div>
                    <h2>Engraved wooden plaques</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="business_sec">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-7">
                <div class="business_cont">
                    <h2><span>A little bit about Our business.</span></h2>
                    <p>My background is in Product Development, Sales and Buying – both in Kildare Ireland and the UK. About 8 years ago I bought a photo frame for my niece Jasmine’s birthday with the intension of placing a photo inside. But instead I decided to print a little verse called “Monday’s Child” with her name and birth details above it, adding little colourful buttons and embellishments. I was showing it to my friends and family and they started to order one here and one there. Then I was asked if I could create personalised framed prints in the form of Wedding frames, Christening frames, Father’s Day frames etc., and really that’s where it all started.</p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="media_part">
                    <div class="card wow fadeInRight animated">
                        <img src="./assets/images/business_img.jpg" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial_sec">
    <div class="container">
        <div class="testimonial_head wow fadeInDown animated">
            <h2>What Our Clients Say</h2>
            <div class="star_rating"></div>
        </div>
    </div>
    <div class="testimone_list">
        <div class="owl-carousel owl-theme">
            <div class="item text-center">
                <div class="box">                    
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                    <h6>Orla O’Brien:</h6>
                </div>
            </div>
            <div class="item text-center">
                <div class="box">                    
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                    <h6>Orla O’Brien:</h6>
                </div>
            </div>
            <div class="item text-center">
                <div class="box">                    
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                    <h6>Orla O’Brien:</h6>
                </div>
            </div>
            <div class="item text-center">
                <div class="box">                    
                    <p>Just received my friendship frame. I’m delighted with it. I ordered numerous times for friends and family from Siobhan and would highly recommend As Cute as a Button personalised frames. Just ordered my own family tree today so can’t wait to get it and hang it up in my home. Thank you Siobhan</p>
                    <h6>Orla O’Brien:</h6>
                </div>
            </div>
        </div>
    </div>        
</section>

<section class="instagram_sec">
    <div class="container">
        <div class="insta_head wow fadeInDown animated">
            <h2>Follow Us on Instagram</h2>
            <img src="./assets/images/insta_icon.png" alt="" class="img-fluid">
        </div>
        <div class="insta_list">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card wow pulse animated">
                        <img src="./assets/images/insta_img1.jpg" alt="" class="img-fluid">
                        <div class="hover_part">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card wow pulse animated">
                        <img src="./assets/images/insta_img2.jpg" alt="" class="img-fluid">
                        <div class="hover_part">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card wow pulse animated">
                        <img src="./assets/images/insta_img3.jpg" alt="" class="img-fluid">
                        <div class="hover_part">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card wow pulse animated">
                        <img src="./assets/images/insta_img4.jpg" alt="" class="img-fluid">
                        <div class="hover_part">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>