<app-header></app-header>

<section class="collection_sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="media_part">
                    <img src="./assets/images/colection_img.jpg" class="card-img" alt="...">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="collection_cont">
                    <h2>The perfect gift to give and to receive</h2>
                    <p>Giving a gift from the heart means so much more to the recipient, knowing that you put so much thought and care into choosing a gift made especially for them…..it will bring a tear to their eye</p>
                    <a href="#" class="btn btn-dark">Explore Our Collections</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>